<main>
    <section class="greyBck">
        <div class="whiteBox contactText">
        <h3>Contact</h3>
        <div class="homeUnderline contactLine"></div>

        <form action="send" method="POST">

        <div id="emailSent"><p>{{message}}</p></div>
        
        <label for="name">Name</label>
        <input id="name" type="text" name="name" placeholder="(required)" required>

        <label for="email">Email</label>
        <input id="email" type="email" name="email" placeholder="(required)" required>

        <label for="subject">Subject</label>
        <input id="subject" type="text" name="subject" placeholder="(required)" required>
        
        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="(required)" required></textarea>

        <button type="submit">Send</button>
    </form>
    </div>
    </section>
</main>