<main>
    <section class="mainBck">

            <h1>patrick bradley</h1>
            <div class="homeUnderline" id="homeUnderline1"></div>
            <h2>ux/ui designer</h2>
            <a href="#featured"><img src="images/down.svg" alt="down arrow"></a>
           
    </section>

    <section class="greyBck">
        <div class="whiteBox whiteBox1 homeProj">
            <h3 id="featured">featured work</h3>
            <div class="projUnderline homeUnderline"></div>
            <h4>web design</h4>
                <div class="projAnglers">
                    <h5>Thames River Anglers Association</h5>

                    <div class="carousel">
            
                    <div class="carousel-cell"><img src="images/traa_home.png" alt="harbour"></div>
                    <div class="carousel-cell"><img src="images/traa_merch.png" alt="beach"></div>
                     <div class="carousel-cell"><img src="images/traa_video.png" alt="coast"></div>
                    <div class="carousel-cell"><img src="images/traa_rehab.png" alt="skyline"></div>
                    </div>
                    <p id="projPara">The Thames River Anglers Association (TRAA) asked for a remodel of their website “Anglers.Org.”</p>
                    <p id="projPara2">The main features that were targeted during this remodel were the layout, functionality and simplicity while leaving the information and logo 
                    unedited.</p>
                </div>
                    <div class="homeDivLine"></div>
                    
                    <div class="photoProj">
                        <h4>photography</h4>
                        <h5>France/Italy 2019</h5>
                        <div class="carousel">
            
                    <div class="carousel-cell"><img src="images/harbour.png" alt="harbour"></div>
                    <div class="carousel-cell"><img src="images/beach.png" alt="beach"></div>
                     <div class="carousel-cell"><img src="images/coast.png" alt="coast"></div>
                    <div class="carousel-cell"><img src="images/skyline.png" alt="skyline"></div>
                     <div class="carousel-cell"><img src="images/roads.png" alt="roads"></div>
                     <div class="carousel-cell"><img src="images/bubbles.png" alt="bubbles"></div>
                     <div class="carousel-cell"><img src="images/restaurant.png" alt="restaurant"></div>
                    </div>
                        
                        <p id="francePara1">In February of 2019 I had the pleasure of touring Nice, France and Genova, Italy for one week. The food and everyday life in these two cities was unique and it was interesting to see how people’s lives in Europe differ from lives in North America.</p>
                        <p id="francePara2">This trip was an amazing experience and gave me the opportunity to capture both the beauty and culture of France and Italy in 35mm film.</p>
                    </div>
                    </div>

    </section>
    <script src="js/home.js"></script>
</main>