<main>
    <section>
        <div>
            <h1>patrick bradley</h1>
            <h2>ux/ui designer</h2>
            <img src="images/down.svg" alt="down arrow">
            </div>
    </section>

    <section>
        <div>
            <h3>featured work</h3>
            <div class="featured_underline"></div>
            <h3>web design</h3>
                <div>
                    <h4>Thames River Anglers Association</h4>
                    <img src="images/" alt="down arrow">
                    <img src="images/" alt="down arrow">
                    <img src="images/" alt="down arrow">
                    <img src="images/" alt="down arrow">
                    <p>The Thames River Anglers Association (TRAA) asked for a remodel of their website “Anglers.Org.”</p>
                    <p>The main features that were targeted during this remodel were the layout, functionality and simplicity while leaving the information and logo 
                    unedited.</p>
                </div>
                    <div class="home_divider_underline"></div>
                    <div>
                        <h3>photography</h3>
                        <h3>france/italy 2019</h3>
                        <img src="images/" alt="down arrow">
                        <img src="images/" alt="down arrow">
                        <img src="images/" alt="down arrow">
                        <img src="images/" alt="down arrow">
                        <img src="images/" alt="down arrow">
                        <img src="images/" alt="down arrow">
                        <img src="images/" alt="down arrow">
                        <p>In February of 2019 I had the pleasure of touring Nice, France and Genova, Italy for one week. The food and everyday life in these two cities was unique and it was interesting to see how people’s lives in Europe differ from lives in North America.</p>
                        <p>This trip was an amazing experience and gave me the opportunity to capture both the beauty and culture of France and Italy in 35mm film.</p>
                    </div>

                    <aside>
                        <h3>see more work</h3>
                        <a href="projects"><h3>projects</h3></a>
                    </aside>

                    <section>
                        <h3>Skills</h3>
                        <div class="skills">
                            {{#each skill}}
                        <div id="skill{{ID}}">
                            <img src="images/{{Program}}" alt="icon for {{Name}}">
                            <h4>{{Name}}</h4>

                        </div>
                        </div>
                        {{/each}}         
        <section>
    </section>
</main>