<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="images/favIcon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favIcon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favIcon/favicon-16x16.png">
<link rel="manifest" href="images/favIcon/site.webmanifest">
<link rel="mask-icon" href="images/favIcon/safari-pinned-tab.svg" color="#181819">
<meta name="msapplication-TileColor" content="#181819">
<meta name="theme-color" content="#ffffff">
    <link rel='stylesheet' href='/css/reset.css'/>
    <link rel='stylesheet' href='/css/main.css'/>
    <link rel="stylesheet" href="https://use.typekit.net/fmx4vjv.css">
    <link href="https://fonts.googleapis.com/css?family=Khula&display=swap" rel="stylesheet">


  </head>
  <header>
    <nav>
      <div class="navCon">
      <ul class="navBar">
        <li>
          <a href="/">home</a>
        </li>
         <li>
          <a href="projects">projects</a>
        </li>
         <li>
          <a href="about">about</a>
        </li>
         <li>
          <a href="contact">contact</a>
        </li>
      </ul>
      <div class="layoutLine navLine"></div>
      <div class="navLogo"><img src="images/logo.svg" alt="logo"></div>
      </div>
      <div class="dropdown">
      <img class="logo" src="images/logo.svg" alt="logo">
      <img class="hamburgerIcon" src="images/hamburger.svg" alt="hamburger menu">
      </div>
    </nav>
  </header>
  <body>
    {{{body}}}
    <footer>
      <section class="footerBox">
        <div class="socialCon">
        <img class="socialMedia" src="images/facebook.svg" alt="facebook logo">
        <img class="socialMedia" src="images/github.svg" alt="github logo">
        <img class="socialMedia" src="images/linkedin.svg" alt="linkedin logo">
        </div>

      <div class="layoutLine footerLine"></div>
        <div class="footerPages">
        <ul>
          <li>
            <a href="/">home</a>
          </li>
          <li>
            <a href="about">about</a>
          </li>
         <li>
            <a href="projects">projects</a>
          </li>
          <li>
            <a href="contact">contact</a>
          </li>
        </ul>
        </div>

      </section>
    </footer>
    <script src="js/main.js"></script>
  </body>
  </html>
