<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
     <link rel='stylesheet' href='/css/reset.css'/>
    <link rel='stylesheet' href='/css/main.css'/>
    <link rel="stylesheet" href="https://use.typekit.net/fmx4vjv.css">
    <link href="https://fonts.googleapis.com/css?family=Khula&display=swap" rel="stylesheet">


  </head>
  <header>
    <nav>
      <div class="navCon">
      <ul class="navBar">
        <li>
          <a href="home">home</a>
        </li>
         <li>
          <a href="projects">projects</a>
        </li>
         <li>
          <a href="about">about</a>
        </li>
         <li>
          <a href="contact">contact</a>
        </li>
      </ul>
      <div class="navLine"></div>
      <div class="navLogo"><img src="images/logo.svg" alt="logo"></div>
      </div>
      <div class="dropdown">
      <img class="logo" src="images/logo.svg" alt="logo">
      <img class="hamburgerIcon" src="images/hamburger.svg" alt="hamburger menu">
      </div>
    </nav>
  </header>
  <body>
    {{{body}}}
    <script src="js/main.js"></script>
  </body>
</html>
