<main>
    <section class="greyBck">
        <div class="whiteBox projectCon">
            <div class="ProjContainer">
            <h3>projects</h3>
            <div class="layoutLine projLine"></div>

            <div class="projects">
                {{#each project}}
                <a href="project/{{ID}}" class="p-link">
                <img id="project{{ID}}" src="images/{{Image}}" class="p-img" alt="image for project {{Name}}">
                </a>
                {{/each}}
            </div>
        
                <div class="ProjectVideo">
                    <h3>Past Works: Demo Reel</h3>
                    <div class="layoutLine videoLine"></div>
                    <div class="VideoUnderline"></div>
                   <div class="video"><iframe src="https://www.youtube.com/embed/NIV51QK_e5M" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                   <p>This demo reel shows the user my past work with motion design.</p>
                </div>
            </div>
            
            </div>
            
    </section>
    <div class="lightbox projHide">
        <span class="close">x</span>

        <div class="lb-content">
            <img class="images" src="images/">
            <div class="nameHead">
            </div>
            <div class="homeUnderline lb-underline"></div>
            <div class="ProjectsUnderline"></div>
            <div class="paraContent1"></div>
            <h3 class="toolsTitle">Tools</h3>
            <div class="homeUnderline lb-underline2"></div>
            <div class="toolIcons">
                <img class="content1" src="images/">
                <img class="content2" src="images/">
            </div>
        </div>
    </div>
    <script src="js/projects.js"></script>
</main>
