.aboutText h3 {
    font-size: 40px;
    padding-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.aboutText h4 {
    font-family: $font-style3;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    margin: 20px auto;
}

.aboutText {
    margin-top: 60px;
}

.aboutUnderline {
    width: 32%;
    margin: 20px auto 20px auto;
} 

.aboutText p {
    width: 90%;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
}

.aboutText p:nth-child(5){
    padding-bottom: 20px;
    margin-top: 0;
}

.aboutBox h3{
    font-size: 25px;
}

.serviceLine {
    width: 50%;
    margin: 20px auto 20px auto;
}

.myServices h3 {
    margin-top: 20px;
    padding-top: 20px;
    font-size: 40px;
}

.services h5{
    font-family: $font-style2;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

#aboutPara1 {
    margin-top: 0 !important;
}

.serviceCon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    line-height: 40px;
}

.services {
    width: 50%;
}