.aboutText h3 {
    font-size: 80px;
    padding-top: 30px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.aboutText h4 {
    font-family: $font-style3;
    font-size: 160px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    margin: 20px auto;
}

.aboutText {
    margin-top: 130px;
}

.aboutUnderline {
    width: 32%;
    margin: 20px auto 40px auto;
} 

.aboutText p {
    letter-spacing: 4px;
    width: 90%;
    margin-bottom: 60px;
}

.aboutText p:nth-child(5){
    padding-bottom: 50px;
}

.aboutBox h3{
    
    font-size: 70px;
}

.serviceLine {
    width: 50%;
    margin: 40px auto 60px auto;
}

.myServices h3 {
    margin-top: 20px;
    padding-top: 40px;
    font-size: 80px;
}

.services h5{
    font-family: $font-style2;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.serviceCon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
    line-height: 90px;
}

.services {
    width: 50%;
}