.mainBck {
    width: 100%;
    height: 70vw;
    background-image: url(../images/franceBck.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.mainBck h1, .mainBck h2{
    text-align: center;
    color: white;
    text-transform: uppercase;
   
}

.mainBck h1 {
    padding-top: 270px;
    font-family: $font-style;
    font-size: 130px;
    letter-spacing: 8px;
}

.mainBck h2 {
    font-family: $font-style2;
    font-size: 44px;
    letter-spacing: 8px;
    font-weight: bold;
    margin-top: 30px;
}

.mainBck a img {
    width: 6%;
    display: flex;
    margin: 60px auto;
}

.homeUnderline {
    background-color: #f4753e;
    height: 6px;
}

#homeUnderline1 {
    width: 46%;
    margin: 15px auto 15px auto;
}

.greyBck {
    background: #f4f4f4;
    padding-top: 20px;
    padding-bottom: 20px;
}

.whiteBox {
    background-color: white;
    box-shadow: 0 0 2.7px black;
    width: 90%;
    margin: 0 auto;
}

.whiteBox h3, .blackBox h3{
    text-align: center;
    font-size: 80px;
    font-family: $font-style;
    text-transform: uppercase;
}

.homeProj h3, .homeSkills h3 {
    padding-top: 10px;
    letter-spacing: 2px;
}

.projUnderline {
    width: 50%;
    margin: 15px auto 15px auto;

}

.homeProj h4{
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-style;
    letter-spacing: 2px;
}

.projAnglers h5, .photoProj h5{
    font-size: 36px;
    font-family: $font-style3;
    text-align: center;
    padding-top: 80px;
    width: 40%;
    margin: 0 auto;
}

.homeDivLine {
    background-color: #f4753e;
    height: 2px;
    max-width: 90%;
    margin: 55px auto;
}

.imageCon {
    width: 90%; 
    margin: 0 auto;
    position: relative;
    margin-bottom: 600px;

}

.imageCon img{
    width: 100%;
}

.slide, .slide2 {
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
    margin-top: 14px;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.whiteBox p {
    text-align: left;
    font-size: 44px;
    font-family: $font-style2;
    margin: 15px auto;
    width: 94%;
    letter-spacing: 1.6px;
}

.whiteBox1 {
    padding-bottom: 10px;
}

.blackBox {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #181919;
    color: white;
    height: 110px;
    padding-top: 20px;
}

.projBtn {
   display: block;
   width: 120px;
   margin: 10px auto;
   height: 50px;
   background-color: #f4753e;
   border-radius: 12px;
   border: none;

}

.blackBox h4 {
    color: white;
    text-transform: uppercase;
    font-family: $font-style3;
    margin: 12px auto;
    font-size: 15px;
    font-weight: bold;
}


.blackBox h3 {
    letter-spacing: 2.4px;
    margin-bottom: 15px;
}

.blackBox a {
    text-decoration: none;
}

.skills img {
    max-width: 70%;
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.skillCon {
    flex-direction: column;
    width: 50%;
    text-align: center;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}

.skillCon h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: $font-style2;
}

.homeSkills h3 {
    margin-bottom: 20px;
}