.projHide {
    display: none !important;
}

.lightbox {
    margin-top: 50px;

}

.images {
    max-width: 90%;
    width: 90%;
    margin: 0 auto 40px auto;
    display: flex;

}

.projectCon p {
    padding-bottom: 30px;
}

.toolIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.toolIcons img{
    max-width: 30%;
    width: 90%;
}

.close {
    position: absolute;
    right: 4%;
    top: 60px;
    font-family: $font-style2;
    font-weight: bold;
    font-size: 26px;
    cursor: pointer;
}

.lb-text {
    font-family: $font-style3;
    width: 83%;
    margin-left: 10%;
    margin-top: 30px;
    line-height: 20px;
}

.lb-title {
    font-family: $font-style;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase; 
    margin-bottom: 20px;
}

.lb-underline{
    width: 80%;
    margin: 0 auto;
}

.toolsTitle {
    font-family: $font-style;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.lb-underline2{
    width: 80%;
    margin: 0 auto 30px auto;
}


