.navCon {
    background-color: #181919;
    width: 100%;
    position: fixed;
    top: -100%;
    overflow-x: hidden;
    z-index: 9000;
    transition: top 1.4s cubic-bezier(0.25, 1, 0.5, 1);
    height: 100%;
}

.navBar {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navCon ul li a{
    text-decoration: none;
    font-family: $font-style;
    font-size: 70px;
    color: white;
    text-transform: uppercase;
    line-height: 100px;
}

.navCon ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navCon ul li a:hover{
    color: #f4753d;
}

.navLine {
    width: 90%;
    margin: 10px auto 10px auto;
}

.layoutLine {
    height: 3px;
    background-color: #f4753d;
}

.dropdown {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba($color: black, $alpha: 0.5);
    z-index: 9000;


}

.hamburgerIcon {
    width: 12%;
    position: absolute;
    right: 10px;
    top: 10px;
}

.logo {
    width: 54%;
    display: flex;
    margin: 14px auto;
}

.navLogo {
    width: 80%;
    margin: 50px auto;
}

.reveal {
    top: 0;
    
}

