

@media screen and (min-width:390px) {
    .imageCon {
        margin-bottom: 220px;
    }
}

@media screen and (min-width:400px) {

    /* START OF HOME (400px)*/ 

    .imageCon {
        margin-bottom: 230px;
    }


    .mainBck h1 {
        font-size: 54px;
        padding-top: 110px;
    }

    .mainBck h2 {
        font-size: 15px;
    }

     /* END OF HOME (400px)*/ 

/*---------------------------------------------*/

     /*START OF ABOUT (400px)*/

     .aboutText h4 {
         font-size: 70px;
     }

     .aboutText p {
         font-size: 16px;
         line-height: 24px;
     }

}

    /*END OF ABOUT (400PX)*/
    
/*---------------------------------------------*/

       /*END OF ABOUT (400PX)*/

    .projectCon p {
        font-size: 16px;
        padding-top: 10px; 
}



@media screen and (min-width:500px) {

    /*HAMBURGER MENU START (500px)*/
    .hamburgerIcon {
        max-width: 70px;
        top: 20%;
        right: 3%
    }

    .dropdown {
        max-width: 100%;
        height: 75px;
    }

    .logo {
        max-width: 467px;
    }

    /*HAMBURGER MENU END (500px)*/

    /*HOME START (500px)*/

   

    .imageCon {
        margin-bottom: 260px;
    }

}

    .imageCon {
        margin-bottom: 190px;
    }

    /*PROJECTS START (500px)*/

    .close {
        margin-top: 20px;
    }

    /*PROJECTS END (500px)*/

@media screen and (min-width:550px) {

    .projAnglers p {
        margin-top: 20px;
    }

    .imageCon {
        margin-bottom: 290px;
    }
}

@media screen and (min-width:600px) {

    .projAnglers p {
        margin-top: 20px;
    }


    .imageCon {
        margin-bottom: 310px;
    }

    .socialCon a img {
        max-width: 40px;
    }
}

@media screen and (min-width:640px) {

    /*NAV START (640px)*/

    .logo {
        width: 56%;
        margin-top: 15px;
    }

    .navCon ul li {
       margin-top: 40px;
       margin-bottom: 10px;
    }
    
    .navCon ul li a {
       line-height: 60px;
       font-size: 80px;
     }  
     

/* PROJECTS START (640px) */

    .lb-title {
        font-size: 60px !important;
}

    .lb-text {
        font-size: 16px !important;
    }

    .toolsTitle {
        font-size: 60px !important;
    }

    .toolIcons img {
        max-width: 25% !important;
    }

/*----------------------------------*/

/* START OF HOME (640px)*/ 


    /* START OF HOME (640px)*/ 

    .mainBck h1 {
        font-size: 90px;
        padding-top: 170px;
    }

    .mainBck h2 {
        font-size: 25px;
    }

    .projUnderline {
        width: 50%;
    }

    .photoProj p {
        font-size: 18px !important;
        line-height: 28px;
    }

    .homeProj h3 {
        font-size: 50px;
    }

    .homeProj h4 {
        font-size: 40px;
    }

    .projAnglers h5, .photoProj h5{
        font-size: 20px;
    }

    .imageCon {
        margin-bottom: 340px;
    }

    #projPara {
        margin-top: 8%;
    }

    #francePara1 {
        margin-top: -1%;
    }

    .projAnglers p {
        font-size: 18px !important;
        line-height: 28px;
    }

    .blackBox {
        height: 160px;
    }

    .blackBox h3 {
        padding-top: 20px;
        font-size: 30px;
        letter-spacing: 6px;
    }

    .projBtn{
        height: 60px;
    }

    .projBtn a h4{
        font-size: 20px;
        margin-top: 30px !important;
    }

    .homeSkills h3 {
        font-size: 50px;
        margin-bottom: 40px;
        padding-top: 40px;
    }

    .skillCon h4 {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .footerPages ul li a {
        font-size: 20px;
    }

/* END OF HOME (640px) */ 

/*-------------------------------------------*/

/* START OF ABOUT (640px) */ 

    .aboutText h3{
        font-size: 50px;
    }

    .aboutText h4{
        font-size: 80px;
    }

    .aboutText p {
        font-size: 16px;
        line-height: 24px;
    }

    .myServices h3 {
        font-size: 50px;
        padding-top: 40px;
    }

    .serviceLine {
        width: 250px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .myServices h5 {
        font-size: 24px;
    }

    /*ABOUT END (640px)*/

/*--------------------------------------*/

    /*CONTACT START (640px)*/

    .contactText h3 {
        font-size: 50px;
}

    input {
        height: 40px !important;
        font-size: 20px;
    }

    textarea {
        font-size: 20px;
    }
    
    /*CONTACT END (640px)*/

    /*--------------------------------------*/

    /*PROJECTS START (640px)*/

    .projectCon h3 {
        font-size: 50px;
    }

    .projectCon p {
        font-size: 22px;
        padding-top: 30px; 
    }

    /*PROJECTS END (640px)*/

    .video {
        width: 80%;
        margin: 0 auto;
    }

    .skills {
        width: 70%;
    }

    .skillCon img {
        width: 50%;
    }
}

@media screen and (min-width:680px) {

    .projAnglers p {
        margin-top: 20px;
    }

    .imageCon {
        margin-bottom: 350px;
    }

}

@media screen and (min-width:732px) {

    .hamburgerIcon {
        max-width: 50px;
    }

    .imageCon {
        margin-bottom: 370px;
    }

    .socialCon a {
        width: 10%;
    }

    .toolIcons {
    width: 50%;
    margin: 0 auto 30px;

    img {
    max-width: 35% !important;
    }
    }
    
    #emailSent p {
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (min-width:776px) {



    .imageCon {
        margin-bottom: 400px;
    }
}


@media screen and (min-width:816px) {

  

    .imageCon {
        margin-bottom: 420px;
    }

    .socialCon {
        width: 20%;

        a {
            width: 20%;
        }
    }
}

@media screen and (min-width:880px) {



    .imageCon {
        margin-bottom: 430px;
    }
}

@media screen and (min-width:920px) {


    .imageCon {
        margin-bottom: 460px;
    }
}

@media screen and (min-width:780px) {
    .images {
        max-width: 50% !important;
    }


}


@media screen and (min-width:1000px) {

    /*HOME START (1000px)*/

    .mainBck h1 {
        font-size: 106px;
        padding-top: 240px;
        letter-spacing: 16px;
        margin-bottom: 40px;
    }

    #emailSent p {
        font-size: 16px;
    }
    
    .mainBck h2 {
        padding-top: 20px;
        font-size: 30px;
        letter-spacing: 10px;
    }

    
    .projUnderline {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 55%;
    }

    #homeUnderline1 {
        width: 85%;
        margin-bottom: 30px;
    }

    .mainBck a img {
        margin-top: 60px;
        width: 80px;
    }

    .homeProj h3 {
        font-size: 80px;
        letter-spacing: 6px;
    }

    .homeProj h4 {
        font-size: 60px;
        letter-spacing: 5px;
        margin-bottom: 30px;
    }

    .projAnglers h5 {
        font-size: 26px;
        width: 41%;
        line-height: 44px;
    }

    .imageCon {
        margin-bottom: 500px;
    }

    .projAnglers p {
        font-size: 20px !important;
    }

    .homeDivLine {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .photoProj h5{
        font-size: 26px;
    }



    .photoProj p {
        font-size: 20px !important;
    }

    .blackBox {
        height: 230px;
    }

    .projBtn {
        height: 80px;
        width: 24%;
    }

    .projBtn a h4 {
        font-size: 20px;
        padding-top: 30px;
    }

    .blackBox h3 {
        margin-top: 40px;
        padding-top: 40px;
        font-size: 40px;
    }

    .homeSkills h3 {
        font-size: 60px;
        margin-bottom: 60px;
    }

    .skills {
        width: 90%;
    }

    .skillCon {
        flex-direction: row;
        flex-wrap: wrap;
        width: 25%;
    }

    .socialCon a img {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .footerPages ul li a {
        font-size: 22px;
    }

    .footerPages {
        width: 75%;
        margin: 0 auto;
    }

    .footerLine {
        margin-bottom: 30px;
    }

    .projects a img {
        width: 99% !important;
    }

     /*HOME END (1000px)*/

/*------------------------------------*/

 /*ABOUT START (1000px)*/

    .aboutText h3 {
        font-size: 60px;
    }

    .aboutUnderline {
        width: 24%;
    }

    .aboutText p {
        font-size: 17px;
        margin-top: 40px;
        line-height: 30px;
    }

    .serviceCon {
        width: 60%;
    }

     /*ABOUT END (1000px)*/

/*------------------------------------*/
    
     /*CONTACT START (1000px)*/

     .contactText h3 {
         font-size: 60px;
     }

     .contactLine {
         width: 20%;
     }

     label {
         font-size: 30px;
         line-height: 40px;
         width: 60%;
         margin: 15px auto;
     }

     input {
         width: 60%;
         height: 45px !important;
         margin: 0 auto;
     }

     textarea {
         width: 60%;
         height: 180px;
        margin: 0 auto;
     }

     form button {
         max-width: 400px;
         width: 30%;
         margin: 40px 0 40px 20%;
         height: 70px;
         font-size: 32px;
         letter-spacing: 4px;

     }

     .projects a {
        max-width: 33.3%;

    }

    .projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .projectCon h3 {
        font-size: 60px;
    }
    
    .projLine {
        width: 20%;
    }

    .videoLine {
        width: 50%;
    }

    .projectCon p {
        font-size: 32px;
    }

    /*CONTACT END (1000px)*/

    /*------------------------------------*/

    /*PROJECTS START (1000px)*/

    .lb-title {
        font-size: 70px !important;
        margin-bottom: 40px !important;

    }

    .lb-text {
        font-size: 20px !important;
        margin-top: 40px !important;
        margin-bottom: 40px !important;
        line-height: 24px !important;
    }

    .toolsTitle {
        font-size: 70px !important;
        margin-bottom: 40px !important;
    }

    .toolIcons img {
        width: 30% !important;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
     
@media screen and (min-width:1060px) {

    
    .imageCon {
        margin-bottom: 500px;
    }

    .carousel-cell {
        width: 34%;
    }

    .flickity-viewport {
        height: 21vw !important;
    }

    .projAnglers p {
        text-align: center;
    }
}

@media screen and (min-width:1100px) {


    
    .imageCon {
        margin-bottom: 540px;
    }
}

@media screen and (min-width:1180px) {

    
    
    .imageCon {
        margin-bottom: 550px;
    }
}

@media screen and (min-width:1220px) {

    
    .imageCon {
        margin-bottom: 600px;
    }
}

@media screen and (min-width:1290px) {

    
    .imageCon {
        margin-bottom: 620px;
    }
}

@media screen and (min-width:1325px) {


    
    .imageCon {
        margin-bottom: 640px;
    }

    .images {
        max-width: 20% !important;
    }
}

@media screen and (min-width:1360px) {

   

    .toolIcons img {
        width: 25% !important;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    form button {
    margin: 40px auto;
    }

    .projAnglers p {
        font-size: 16px !important;
    }

    #projPara2 {
        margin-top: -20%;
    }

    .photoProj p {
        font-size: 16px !important;
    }

    #francePara1 {
        margin-top: -11%;
    }

    #francePara2 {
        margin-top: -18%;
        margin-bottom: 2%;
    }

    .mainBck {
        background-size: cover;
        height: 40vw;
        h1 {
            padding-top: 12% !important;
        }
        a {
            img{
                width: 3%;
            }
        }
    }
}
     
@media screen and (min-width:1200px) {
    .aboutText p {
        text-align: center;
    }  
    
    .skills {
        width: 60%;
    }

    .socialCon a {
        width: 14%;
    }
}  

@media screen and (min-width:1400px) {

    .mainBck h1 {
        font-size: 120px;
    }

    #homeUnderline1 {
        margin-top: 50px;
        width: 65%;
        margin-bottom: 40px;
    }

    .mainBck h2 {
        font-size: 32px;
        margin-bottom: 80px;
    }
    
    .homeProj h3 {
        margin-bottom: 30px;
    }

    .projUnderline {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 40%;
    }
    
    .projAnglers p {
        margin-top: 20px;
    }

    .imageCon {
        margin-bottom: 700px;
    }


    /*HOME END (1400px)*/

/*--------------------------------------*/


    /*PROJECTS START (1400px)*/

    .projLine {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .projectCon h3 {
        margin-top: 40px;
    }

    .videoLine {
        margin-bottom: 30px;
        width: 40%;
    }

    /*PROJECTS END (1400px)*/
}


@media screen and (min-width:1490px) {

}

@media screen and (min-width:1550px) {
    
    .imageCon {
        margin-bottom: 740px;
    }

    .aboutText h4 {
        font-size: 100px;

    .skillCon img {
        width: 30%;
    }
    
}

@media screen and (min-width:1620px) {

    
    .imageCon {
        margin-bottom: 760px;
    }

    .aboutText p:nth-child(5) {
        padding-bottom: 40px;
    }
}

@media screen and (min-width:1660px) {

    form button {
        width: 20% !important;
        letter-spacing: 0;
        font-size: 24px;
    }

    .socialCon a {
        width: 10%;
    }

    .imageCon {
        margin-bottom: 780px;
    }
}

@media screen and (min-width:1730px) {

    
    .imageCon {
        margin-bottom: 820px;
    }
}

@media screen and (min-width:1820px) {

   
    .imageCon {
        margin-bottom: 850px;
    }
}


@media screen and (min-width:1890px) {


    
    .imageCon {
        margin-bottom: 870px;
    }
}

@media screen and (min-width:1920px) {

    /*HOME START (1400px)*/

    .mainBck h1 {
        padding-top: 380px;
        font-size: 160px;
    }

    .socialCon a {
        width: 9%;
    }

    .mainBck h2 {
        font-size: 40px;
    }

   .imageCon {
       margin-bottom: 900px;
   }

   .homeDivLine {
       margin-top: 80px;
       margin-bottom: 80px;
   }

   .homeProj h4 {
       margin-bottom: 60px;
   }

   .photoProj h4 {
       margin-bottom: 50px;
   }

   .photoProj:nth-child(11) {
        margin-top: 300px;
}

    .skills img {
        max-width: 50%;
    }

    .skillCon h4 {
        font-size: 20px;
        margin-bottom: 80px;
    }

    .lb-text {
        text-align: center;
    }

    .toolIcons img {
        width: 20% !important;
    }

    .projUnderline {
        width: 30%;
    }

    /*HOME START (1400px)*/

/*----------------------------------*/

    /*PROJECTS START (1400px)*/
}
}