@media screen and (min-width:640px){
    .whiteBox p {
        font-size: 40px;
        width: 90%;
    }

    #projPara{
        margin-top: -120px;
    }
    #francePara{
        margin-top: -30px;
    }
    
}

@media screen and (min-width:720px){
    .whiteBox p {
        font-size: 80px;
        width: 90%;
    }

    #projPara{
        margin-top: -120px;
    }
    #francePara{
        margin-top: -30px;
    }
    
}
